/************************Basic portfolio styling****************************/

/******************Small Screen******************/
@media only screen and (max-width: 1000px) {

    /************************General****************************/
    h1 {
        font-family: 'Monoton', cursive, sans-serif;
        text-align: center;
    }

    /************************Edit Mode****************************/
    .edit-buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1em;
        padding: 1em;
    }

    .edit-buttons button {
        margin: 1em;
    }

    .edit-buttons h2 {
        text-align: center;
    }

    /************************Body of user content****************************/
    .profile-information {
        background-color: #dee5ef;
        padding: 1em;
        border-radius: 0.5em;
    }

    .profile-information button {
        width: 100%;
    }

    #profile-picture img {
        align-self: center;
    }

    .profile-information #userName {
        text-align: center;
        margin: 0.5em;
        font-size: 1.2em;
    }

    .portfolio-btn {
        width:50%;
        margin: 1em;
        border-radius: 0.5em;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        background-color: #B7C299;
    }

    #profile-picture img {
        border-radius: 0.5em;
        border: 2pt solid rgba(255, 100, 11, 0.4);
    }

    .portfolio-post-img {
        max-width:50%;
    }

    .user-content-main-column figure {
        display: flex;
        margin: 1em;
        justify-content: center;
        max-width: 100%
    }

    .user-content-main-column img {
        border-radius: 0.5em;
        border: 2pt solid rgba(255, 100, 11, 0.4);
    }

    .user-content-header {
        text-align: center;
        font-size: 1.2em;
        margin: 1em;
        font-family: 'Monoton', cursive, sans-serif;
    }

    .user-content-main-column article {
        margin: 1em;
        padding: 1em;
        border-radius: 0.5em;
        background-color: white;
    }
}



/****************Large Screen*********************/
@media only screen and (min-width:1000px) {

    
    .portfolio-post-img {
        max-width:50%;
    }

    .portfolio-profile {
        align-content: center;
        justify-content: center;
        padding:1em;
    }

    .profile-picture{
        margin:1em;
    }
    .portfolio-btn {
        width:50%;
        margin: 1em;
        border-radius: 0.5em;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        background-color: #B7C299;
    }

    /**index**/
    .portfolio-search-bar {
        width: 100%;
        align-content: center;
    }

    .portfolio-index-panel a {
        margin: 1em;
    }

    .search-bar-btn:hover {
        background-color: #dee5ef;
        transition: all 0.5s ease 0s;
        border-radius: 0.75em;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    }

    .search-bar-btn {
        width: 100%;
        margin: 0.5em;
        border-radius: 0.5em;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        background-color: #B7C299;
    }

    /** Search results **/
    .search-results-container {
        display:flex;
        align-content: center;
        justify-content: center;
        background-color: white;
        padding:0.5em;
        border-radius:0.5em;
    }
    .carousel, .carousel-image {
        height:640px;
        width:100%;
    }
    .search-results-table {
        margin:1em;
        width:85%;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius:1em;
    }

    .search-results-table td{
        padding:1.5em;
    }

    .search-results-table th{
        border:none;
    }

    /** Portfolio Page **/

    .carousel-image img{
        width:100%;
        height:100%;
    }

    h1 {
        font-family: 'Monoton', cursive, sans-serif;
        text-align: center;
        font-size: 2em;
    }

    /************************Edit Mode****************************/
    .edit-buttons {
        display: flex;
        justify-content: center;
        margin: 1em;
        padding: 1em;
    }

    .edit-buttons button,
    .edit-buttons h2 {
        margin: 1em;
    }

    .edit-buttons:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transition: all 2s ease 0s;
    }

    /************************Body of user content****************************/
    .main-banner-portfolio {
        display: flex;
        justify-content: flex-start;
        margin: 1em 0em 1em 0em;
    }

    .main-banner-portfolio figure {
        overflow: hidden;
    }

    .main-container-portfolio {
        display: flex;
        justify-content: flex-start;
    }

    .main-container-portfolio section {
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.35);
    }

    .main-body-portfolio {
        display: flex;
        flex-direction: row;
        margin: 1em;
        padding: 1em;
    }

    .profile-information {
        width: 33%;
        background-color: white;
        padding: 1em;
        border-radius: 0.5em;
    }

    .profile-information button {
        width: 100%;
        margin: 1em 0em 1em 0em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    .profile-information #userName {
        text-align: center;
        margin: 0.5em;
        font-size: 1.2em;
    }

    #profile-description p {
        margin: 0.5em;
    }

    #profile-description {
        background-color: white;
        border-radius: 0.5em;
    }

    #profile-picture img {
        border-radius: 0.5em;
        border: 2pt solid rgba(255, 100, 11, 0.4);
    }

    .user-content-main-column {
        display: flex;
        flex-direction: column;
        margin: 0em 2em 0em 2em;
        border-radius: 0.5em;
        padding: 1em;
    }

    .user-content-main-column figure {
        display: flex;
        margin: 1em;
        justify-content: center;
        max-width: 100%
    }

    .user-content-main-column img {
        border-radius: 0.5em;
        border: 2pt solid rgba(255, 100, 11, 0.4);
    }

    .user-content-header {
        text-align: center;
        font-size: 1.2em;
        margin: 1em;
        font-family: 'Monoton', cursive, sans-serif;
        border-bottom: 2pt solid rgba(255, 100, 11, 0.4);
    }

    .user-content-main-column article {
        margin: 1em;
        padding: 1em;
        border-radius: 0.5em;
        background-color: white;
    }

    footer {
        display: flex;
        padding: 0em 1em 0em 1em;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-related-posts {
        text-align: center;
        padding: 1em;
    }

    .footer-related-posts-images {
        border-top: 1pt solid rgba(255, 100, 11, 0.4);
        border-bottom: 1pt solid rgba(255, 100, 11, 0.4);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1em;
    }

    .footer-related-posts-header {
        border-top: 1pt solid rgba(255, 100, 11, 0.4);
        font-size: 2em;
        font-family: 'Monoton', cursive, sans-serif;
    }

    .footer-info-section {
        width: 100%;
        padding: 1em;
        text-align: center;
        border-top: 1pt solid rgba(255, 100, 11, 0.4);
    }
}